:root {
    --marrom: #59412D;
    --rosa-claro: #F2EED8;
    --vermelho: #BF3434;
}

body{
    background-color: var(--rosa-claro);
    color: var(--marrom);
    margin: 0 1rem;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--vermelho);
    background-image: url(../img/Flor.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right center;
}

.titulo {
    padding-top: 2.25rem;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 1px 1px 2px var(--rosa-claro);
}

.subtitulo {
    font-size: 1.5rem;
    line-height: 0.75rem;
    padding: 1.25rem 0;
    text-shadow: 1px 1px 2px var(--marrom);
}

.navegacao-lista {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--vermelho);
}

.links{
    color: var(--vermelho);
}

.conteudo {
    padding: 1.5rem 1rem;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-titulo {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

.conteudo-paragrafo {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.classe-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem {
    width: 16rem;
    margin: 0 1rem;
}

.contato {
    background-color: var(--vermelho);
    width: 10rem;
    height: 4rem;
    text-align: center;
    
}