:root {
    --marrom: #59412D;
    --rosa-claro: #F2EED8;
    --vermelho: #BF3434;
}

body{
    background-color: var(--rosa-claro);
    color: var(--marrom);
}

.cabecalho {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--vermelho);
    background-image: url(../img/Flor.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right center;
}

.titulo {
    padding-top: 2.25rem;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 1px 1px 2px var(--rosa-claro);
}

.subtitulo {
    font-size: 1.5rem;
    line-height: 0.75rem;
    padding: 1.25rem 0;
    text-shadow: 1px 1px 2px var(--marrom);
}

.navegacao {
    margin: 0 1rem;
}

.navegacao-lista {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--vermelho);
}

.links{
    color: var(--vermelho);
}

.conteudo {
    margin: 0 1rem;
    padding: 1.5rem 1rem;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-titulo {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

.conteudo-paragrafo {
    font-weight: bold;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.classe-imagem {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem {
    width: 18rem;
    margin: 0 1rem;
}

.contato {
    background-color: var(--marrom);
    color: var(--rosa-claro);
    margin: 2rem 0;
    width: 80%;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-size: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.2),
    inset -3px -3px 5px rgba(0,0,0,0.5);
}

.redes {
    background-color: var(--marrom);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes h2 {
    color: var(--rosa-claro);
    padding: 0.5rem 0;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
}

.icones {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes-sociais {
    font-size: 3rem;
    color: var(--rosa-claro);
}